nav {
    display: flex;
    justify-content: space-between;
  }
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  p {
    text-align: center;
  }

  h1{
    text-align: center;
  }

  #start-button {
    margin-left: 450px;
  
  }

  button {
    
    background-color: purple;
    color: white;
    display: block;
    border: none;
    text-align: center;
   

  }

  .button-choice {
  
    margin-top: 30px;
    padding: 20px;
    width: 100px;
    text-align: center;
  }

  